.DS_Store
.git
.gitignore
.turbo
.vercel
.pnpm-store
.bun

.env
.env.local
.envrc
.env*.local

backup/
coverage/
logs/
target/
**/target/

node_modules/
apps/*/node_modules/
apps/frontend/dist/
apps/frontend/.vite/
apps/landing/dist/

*.log
*.tsbuildinfo
